{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}. Theeese are the records:</h1>
        {% if records %}
        <table class="table table-striped table-hover table-bordered table-responsive">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">Phone</th>
                <th scope="col">Created</th>
                <th scope="col">ID</th>
              </tr>
            </thead>
            <tbody>
              {% for record in records %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ record.first_name }}</td>
                <td>{{ record.last_name }}</td>
                <td>{{ record.address }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.created }}</td>
                <td>{{ record.id }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No records found.</p>
        {% endif %}
    {% else %}
        <h1>Login</h1>
        <br />
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    {% endif %}
</div>
{% endblock %}
