{% extends 'base.html' %}
{% load static %}  {# Load static at the top #}

{% block content %}
    <nav class="navbar">
        <div class="logo">Limitless</div>
        <ul class="nav-links">
            <li><a onclick="navigate('{% url 'home' %}')">🏛️ Home</a></li>
            <li><a onclick="navigate('{% url 'about' %}')">About Us</a></li>
        </ul>
        <input type="text" placeholder="Rechercher..." class="search-bar">
        <div class="auth-links">
            <a onclick="navigate('{% url 'signIN' %}')">Sign In</a>
            <a onclick="navigate('{% url 'register' %}')">Sign Up</a>
        </div>
    </nav>

    <main class="content">
        <center><h1>Catégories</h1></center>
        <div class="categories">
            <div class="category netflix">
                <a onclick="navigate('{% url 'netflix_page' %}')">
                    <img src="{% static 'images/netflix.jpg' %}" style="width: 400px; height: 250px;">
                </a>
            </div>
            <div class="category spotify">
                <a onclick="navigate('{% url 'spotify_page' %}')">
                    <img src="{% static 'images/spotify.gif' %}" style="width: 400px; height: 250px;">
                </a>
            </div>
        </div>
    </main>

    <script>
        function navigate(url) {
            window.location.href = url;
        }
    </script>

    <script src="{% static 'script.js' %}"></script>
{% endblock %}
