{% extends 'base.html' %}
{% block content %}
    <body>
        <nav class="navbar">
            <div class="logo">Limitless</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
            <input type="text" placeholder="Rechercher..." class="search-bar">
            <div class="auth-links">
                <a href="C:\Users\Admin\Desktop\new\dcrm\website\templates\SignIn.html">Sign In</a>
                <a href="C:\Users\Admin\Desktop\new\dcrm\website\templates\SignUP.html">Sign Up</a>
            </div>
        </nav>
        <main class="content">
            <center><h1>Catégories</h1></center>
            <div class="categories">
                <div class ="category netflix"><a href="C:\Users\Admin\Desktop\new\dcrm\website\templates\netflix.html" > <img src="C:\Users\Admin\Desktop\new\dcrm\website\templates\netflix.jpg" style="width: 400px;height: 250px;"></a></div>
                <div class ="category spotify"><a href="C:\Users\Admin\Desktop\new\dcrm\website\templates\spotify.html" > <img src="C:\Users\Admin\Desktop\new\dcrm\website\templates\spotify.jpg" style="width: 400px;height: 250px;"></a></div>
            </div>
        </main>
        <script src="C:\Users\Admin\Desktop\new\dcrm\website\templates\script.js"></script>
    </body>
    </html>
{% endblock %}